body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
}

header {
    color: #ffffff;
    text-align: start;
    margin-left: 20px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    color: #dadada;
    margin: 10px;
    margin-left: 0px;
    font-size: 18px;
    background-color: #202020;
    border: 0.5px solid #dadada;
    border-radius: 8px;
    padding: 8px;
    padding-left: 15px;
}

div {
    display: flex;
    margin: 20px;
}

button {
    font-size: 12px;
    color: #b3b2b2;
    font-weight: 400;
    background-color: #4b4b4b;
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    margin-right: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #3f3f3f;
}

button:active {
    transform: translateY(1px);
}

/* MARK: class */

.Reverse {
    width: 40px;
    height: 40px;
    background-color: #202020;
    background-image: url(../Assets/reverse-arrow-gray.png);
    background-size: 40px;
    padding: 0px;
    border: none;
    margin: 10px;
    margin-left: 0px;
}

.Reverse:hover {
    background-image: url(../Assets/reverse-arrow-white.png);
    background-size: 40px;
    background-color: #202020;
}

.Convert {
    color: #ffffff;
    font-size: 14px;
    background-color: #858585;
}

.Convert:hover {
    color: #d1cece;
    background-color: #7a7a7a;
}

.InputSection {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.OutputSection {
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* MARK: id */

#InputField {
    font-size: 46px;
    text-align: right;
    color: #ffffff;
    width: 200px;
    background-color: #202020;
    padding: 10px #202020;
    padding-top: 40px;
    border: #202020;
    border-bottom: 2px solid #858585;
    margin-right: 10px;
}

#OutputField {
    font-size: 46px;
    text-align: right;
    color: #ffffff;
    width: 200px;
    background-color: #202020;
    padding: 10px #202020;
    padding-top: 40px;
    border: #202020;
    border-bottom: 2px solid #858585;
    margin-right: 10px;
}